$white-light: #fff;
$white-default: #f6fbfd;
$white-dark: #e3ebee;

$black-light: #360842;
$black-default: #2c0735;
$black-dark: #0b020e;

$purple-light: #858ae3;
$purple-default: #613dc1;
$purple-dark: #4e148c;
$purple-transparent: #dfd8f2;

$blue-light: #cef1ff;
$blue-default: #97dffc;
$blue-dark: #6fa6bb;
$blue-transparent: #eaf8fe;
